* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media screen and (max-width: 900px) {
    html {
      font-size: 43.75%; } }
  @media screen and (max-width: 600px) {
    html {
      font-size: 31.25%; } }
  @media screen and (min-width: 1600px) {
    html {
      font-size: 81.25%; } }

body {
  background-color: #333;
  color: #FB5D3F;
  font-family: 'Exo', sans-serif; }

.header {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.main {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  @media screen and (max-width: 600px) {
    .main {
      height: auto; } }

.time-box {
  display: flex; }
  .time-box__detail {
    text-transform: lowercase;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .time-box__detail:not(:last-child) {
      margin-right: 6rem; }
      @media screen and (max-width: 600px) {
        .time-box__detail:not(:last-child) {
          margin-right: 0rem; }
          .time-box__detail:not(:last-child):first-child {
            margin-right: 6rem; } }
    @media screen and (max-width: 600px) {
      .time-box__detail {
        font-size: 43.75%; }
        .time-box__detail:nth-child(2) .time-box__count::after {
          content: none; } }
    @media screen and (max-width: 600px) {
      .time-box__detail:last-child {
        display: none; } }
  .time-box__name {
    font-size: 4rem;
    text-align: center; }
  .time-box__btn {
    font-size: 2rem; }
  .time-box__count {
    font-size: 18rem;
    width: 24rem;
    display: flex;
    justify-content: center; }
    .time-box__count--special {
      position: relative; }
      .time-box__count--special::after {
        content: ":";
        position: absolute;
        right: -4.5rem;
        top: -1rem; }
  .time-box__num {
    font-variant-numeric: tabular-nums; }

.menu__btn {
  font-size: 2.5rem; }
  .menu__btn:first-child {
    margin-right: 10rem; }

.footer {
  height: 10vh;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.heading-one {
  font-size: 7rem;
  letter-spacing: 5rem;
  margin-right: -5rem; }

.btn {
  border: 0;
  background: transparent;
  outline: none;
  background-color: #333;
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  border: 1px dashed #FB5D3F;
  border-radius: 15px;
  transition: all .2s; }
  .btn:hover {
    background-color: #404040; }
  .btn:focus {
    border: 1px solid #FB5D3F;
    box-shadow: 0 0 1px 1px #fff; }
  .btn:active {
    transform: translateY(2px); }
  .btn--change {
    width: 10rem; }
    @media screen and (max-width: 600px) {
      .btn--change {
        width: 12rem;
        height: 5rem;
        font-size: 2.5rem; } }
  .btn--menu {
    width: 15rem;
    height: 5rem; }
