//COLORS
$color-one-1: #147CC7;
$color-two-1: #00FADC;
$color-three-1: #C71714;
$color-four-1: #FB5D3F;

$color-white: #fff;
$color-black: #000;

$header-height: 15vh; 
$main-height: 75vh;
$footer-height: 10vh;