* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px

    @media screen and (max-width: 900px){
        font-size: 50%; //1rem = 7px
    }

    @media screen and (max-width: 600px){
        font-size: 43.75%; //1rem = 7px
    }

    @media screen and (min-width: 1600px){
        font-size: 81.25%; //1rem = 12px
    }

}

body{
    background-color: #333;
    color: $color-four-1;
    font-family: 'Exo', sans-serif;

    // text-shadow: 0px 0px 25px $color-two-1;
    // text-shadow: 0px 0px 75px $color-white;
}
