.heading-one{
    font-size: 7rem;
    letter-spacing: 5rem;
    margin-right: -5rem;
}

.btn{
    border: 0;
    background: transparent;
    outline: none;
    background-color: #333;    
    cursor: pointer;     
   
    font-family: inherit;
    color: inherit;

    border: 1px dashed $color-four-1;
    border-radius: 15px;

    transition: all .2s;

    &:hover{
        background-color: lighten(#333, 5%);         
    }

    &:focus{
        border: 1px solid $color-four-1;
                box-shadow: 0 0 1px 1px $color-white;
    }

    &:active{
        transform: translateY(2px);
    }


    &--change{
        width: 10rem;

        @media screen and (max-width: 600px){
            width: 12rem;
            height: 5rem;

            font-size: 2.5rem;
        }
    }

    &--menu{
        width: 15rem;
        height: 5rem;
    }
}