.heading-one{
    font-size: 7rem;
    letter-spacing: 5rem;
    margin-right: -5rem;
}

.btn{
    border: 0;
    background: transparent;
    outline: none;
    background-color: #333;    
    cursor: pointer;     
   
    font-family: inherit;
    color: inherit;
    // font-size: 2.5rem;

    border: 1px dashed $color-four-1;
    border-radius: 15px;

    &:hover{
        background-color: lighten(#333, 5%);         
    }

    &:focus{
        border: 1px solid $color-four-1;
        box-shadow: 0 0 10px 1px $color-white;
    }


    &--change{
        width: 10rem;
    }

    &--menu{
        width: 15rem;
        height: 5rem;
    }
}