

.header{
    height: $header-height;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    height: $main-height;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.time-box{
    
    display: flex;

    // &__top{
    //     display: flex;
    //     flex-direction: row;
    // }
    

    &__detail{
        text-transform: lowercase;

        display: flex;
        flex-direction: column;
        align-items: center;

        &:not(:last-child){
            margin-right: 6rem;
        }
    }

    &__name{
        font-size: 4rem;
        text-align: center;
        
    }

    &__btn{
        font-size: 2rem;
    }

    &__count{
        font-size: 18rem;

        &--special{
            position: relative;

            &::after{
                content: ":";
                position: absolute;
                right: -4.5rem;
                top: -1rem;
            }
        }
    }

    &__num{

    }
}

.menu{

    &__btn{
        font-size: 2.5rem;
        
        &:first-child{
            margin-right: 10rem;
        }
    }
}

.footer{
    height: $footer-height;
    font-size: 2rem;

    // text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}